<div class="container fixed-container">
  <div class="col-12 second-container show_container d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
      <h1 class="text-white text-center pb-4"><strong><%= @city.name %></strong>, <%= @city.department.name %></h1>
    </div>
    <div class="d-flex flex-row flex-wrap-reverse justify-content-between">
      <div class="col-sm-12 col-lg-6 col-xl-5 calendar d-flex flex-column">
        <%= render "shared/calendar", weather_previsions: @previsions, remote: true %>
      </div>

      <div class="col-sm-12 col-lg-6 col-xl-5 card_weather d-flex flex-column align-items-center justify-content-between mx-0 text-light">
        <%= render "cities/partials/infos_weather_prevision", prevision: @weather_prevision, remote: true %>
      </div>
    </div>
  </div>
</div>
