<div class="container d-flex flex-column align-items-center justify-content-center">
  <div class="faq-container d-flex flex-column ">
    <div class="faq-title m-3">
      <h1 class="text-white text-center mt-3">La <strong>FAQ</strong></h1>
    </div>

    <div class="faq-questions">
      <div>
        <h5>• Qu'est-ce que meteomerde.com ?</h5>
        <p>meteomerde.com est le premier site météo grâce auquel vous pouvez choisir vous-même le temps qu'il va faire !</p>
      </div>
      </br>
      <div>
        <h5>• Qui êtes-vous ?</h5>
        <p>Nous sommes un collectif de scientifiques météorologues passionnés. Après avoir travaillé de nombreuses années dans les plus grands laboratoires de recherche en météorologie, nous souhaitions démarrer une nouvelle aventure plus proche de nos convictions personnelles. En effet, lors de nos nombreuses années d'activité dans le monde de la recherche, nous souffrions de l'absence de l'aspect décisionnel en météorologie. Aujourd'hui, la grande majorité des chercheurs adoptent une position très passive, presque fataliste face à la météorologie. (Combien de fois avons nous entendu dans les couloirs de notre très grand et très réputé laboratoire de recherche en meteorologie : "demain il va pleuvoir, c'est moche mais ainsi va la vie..."). Cela ne nous convenant plus, nous avons décidé de prendre les choses en mains. Nous avons alors créé meteomerde.com, le premier site météo grâce auquel vous choisissez vous-même la météo, et cela dans la ville de votre choix ! </p>
      </div>
      </br>
      <div>
        <h5>• Wow, c'est de la magie ?</h5>
        <p>Non, c'est de la science ;-)</p>
      </div>
      </br>
      <div>
        <h5>• Est-ce que c'est fiable ?</h5>
        <p>Absolument, nous avons un taux de réussite de 99%*</p>
      </div>
      </br>
      <div>
        <h5>• Il n'a pas fait le temps que j'avais enregistré sur meteomerde.com.</h5>
        <p>C'est une situation extêmement rare mais qui peut malheureusement arriver. Certains événements indépendants de notre volonté peuvent parfois perturber le bon fonctionnement de notre application. </p>
      </div>
      </br>
      <div>
        <h5>• Pourquoi choisir meteomerde.com ?</h5>
        <div class="faq-div-scroll">
          <table class="faq-comparatif">
              <thead>
                  <tr>
                      <th class="border-bottom"> </th>
                      <th class="border-bottom">Fiabilité</th>
                      <th class="border-bottom">Possibilité de choisir la meteo</th>
                      <th class="border-bottom">Joli dégradé en fond</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-left p-0 font-weight-bold border-bottom">meteomerde.com</td>
                      <td class="border-bottom">99%*</td>
                      <td class="border-bottom">Oui</td>
                      <td class="border-bottom">Oui</td>
                  </tr>
                  <tr>
                      <td class="text-left p-0 font-weight-bold border-bottom">meteofrance</td>
                      <td class="border-bottom">données inconnues</td>
                      <td class="border-bottom">Non</td>
                      <td class="border-bottom">Non</td>
                  </tr>
                  <tr>
                      <td class="text-left p-0 font-weight-bold border-bottom">meteociel</td>
                      <td class="border-bottom">données inconnues</td>
                      <td class="border-bottom">Non</td>
                      <td class="border-bottom">Non</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
      </br>
      <div>
        <h5>• C'est à cause de vous le réchauffement climatique ?</h5>
        <p>Non.</p>
      </div>
      </br>
      <div>
        <h5>• Pourquoi la ligne 13 est bloquée ?</h5>
        <p>Vous vous êtes trompés de site, peut-être vouliez-vous aller sur metromerde.com ?</p>
      </div>
      </br>
      <div>
        <h5>• Je trouve votre travail formidable, comment puis-je vous joindre pour vous féliciter ?</h5>
        <p>Merci beaucoup, vous pouvez contacter notre équipe via meteomerde@mailo.com.</p>
      </div>
      </br>
      <div>
        <h5>• Les prévisions n'ont pas marché, je suis en colère, comment vous contacter pour faire une réclamation ?</h5>
        <p>Malheureusement il n'y a actuellement aucun moyen de contacter notre équipe. </p>
      </div>
      </br>
      <div>
        <h5>• Pourquoi le site n'est pas responsive ?</h5>
        <p>Oui bon ça va j'y travaille >:(</p>
      </div>
      </br>
    </div>
  </div>
</div>
