.simple-calendar {
  min-width: 350px;

  .calendar-heading {
    width: 100%;
    height: 45px;
    color: #fff;
    font-weight: 600;
    font-size: larger;
    text-transform: uppercase;
    text-align: center;

    a {
      color: white;
      font-weight: normal;
      padding: 10px;
      font-weight: bolder;

      &:hover {
        color: #db919a;
        text-decoration: none;
      }
    }
  }

  .table-striped {
    margin: 0;
  }

  thead {
    height: 40px;
    border: none;

    th {
      border: none;
    }
  }

  tbody {
    box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
  }

  th {
    text-align: center;
    color: #fff;
    font-weight: 300;
  }

  tr {
    text-align: center;
    color: #fff;
    font-weight: lighter;

    .active {
      box-shadow: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.795);
      background-color: #b69ebec7;
    }
  }

  td {
    svg {
      height: 30px;
    }
  }

  .past,
  .today {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .future {
    &:hover {
      background-color: rgba(0, 0, 0, 0.18);
      transition: all 0.2s ease-out;
    }
  }

  .next-month,
  .prev-month {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .has-events {
    background-color: #cfb5d8;
    &:hover {
      background-color: #b69ebec7;
      transition: all 0.2s ease-out;
      cursor: pointer;
    }
  }
}

// .current-month {}
// .start-date {}
// .day {}
// .wday-0 {}
// .wday-1 {}
// .wday-2 {}
// .wday-3 {}
// .wday-4 {}
// .wday-5 {}
// .wday-6 {}


div.simple-calendar > * {
  border: none;
}
