.simple-calendar {
  min-width: 350px;
  max-height: 500px;

  .calendar-heading {
    padding: 20px 0 10px 0;
    color: #fff;
    font-weight: 600;
    font-size: larger;
    text-transform: uppercase;
    text-align: center;

    a {
      color: white;
      font-weight: normal;
      padding: 10px;
      font-weight: bolder;

      &:hover {
        color: #db919a;
        text-decoration: none;
      }
    }
  }

  .table-striped {
    margin: 0;
    border: 2px solid #ffffffc2;
    box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.199);

    &:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  thead {
    background-color: rgba(0, 0, 0, 0.2);
  }

  th {
    text-align: center;
    color: #fff;
    font-weight: 500;
  }

  tr {
    text-align: center;
    color: #fff;
    font-weight: lighter;
  }

  td {
    // display: flex;
    svg {
      height: 30px;
      // vertical-align: middle;
    }
  }

  .calendar-heading {
    width: 100%;
    // background-color: #ffffff71;
  }
  // .day {}

  // .wday-0 {}

  // .wday-1 {}

  // .wday-2 {}

  // .wday-3 {}

  // .wday-4 {}

  // .wday-5 {}

  // .wday-6 {}

  .past,
  .today {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .future {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-out;

    }
  }

  // .start-date {}

  .next-month,
  .prev-month {
    background-color: rgba(0, 0, 0, 0.1);
  }

  // .current-month {}

  .has-events {
    background-color: #c8acd2b6;
    border: 2px solid #ffffffc2;
    &:hover {
      background-color: #cfb5d8;
      transition: all 0.2s ease-out;
    }
  }
}
