<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="second-container position-fixed">
    <h1 class="text-white text-center">Bienvenue sur <strong>meteomerde.com</strong></h1>
    <input type="text" id="search" class="mx-auto w-75 mt-5 form-control" placeholder="Cherche une ville" autocomplete="off">

    <div class="div-results mx-auto w-75 mt-2">
      <ul id="results"></ul>
    </div>
  </div>
</div>
