<div class="second-container">
  <h1 class="text-white">Bienvenue sur <strong>meteomerde.com</strong></h1>
  <input type="text" id="search" class="mx-auto w-75 mt-5 form-control" placeholder="Cherche une ville" autocomplete="off">

  <div class="mx-auto w-75 mt-2">
    <ul id="results"></ul>
  </div>

</div>
