.second-container {
  // margin: 20% auto auto;

  input::placeholder {
    font-weight: lighter;
    color: #afafaf;
  }

  label {
    color: white;
  }
}

.div-results {
  height: 200px;
}

#results {
  background-color: #ffffff24;
  border-radius: 0 0 5px 5px;
  padding-top: 15px;
  padding-bottom: 20px;

  &:empty {
    background: none;
  }

  li {
    list-style-type: circle;
    color: white;
  }

  a {
    color: white;
    font-weight: normal;

    &:hover {
      color: #db919a;
      text-decoration: none;
    }
  }
}
