.second-container {
  margin: 20% auto auto;

  input::placeholder {
    font-weight: lighter;
    color: #afafaf;
  }
}

svg {
  height: 100px;
}

#results {
  background-color: #ffffff52;
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  &:empty {
    padding: 0;
  }

  li {
    list-style-type: circle;
    color: white;
  }

  a {
    color: white;
    font-weight: 600;

    &:hover {
      color: #db919a;
      text-decoration: none;
    }
  }
}
