.fixed-container {
    height: 80%;
    position: fixed;
    overflow: auto;
    margin-top: 70px;
    scrollbar-width: none;
    }

.fixed-container::-webkit-scrollbar {
  display: none;
}

.show_container {
    h4 {
    padding-bottom: 2px;
    border-bottom: 8px solid;
  }
}

.card_weather {
  margin-bottom: 20px;
  border: 2px solid #ffffffc2;
  border-radius: 5px;
  background-color: #ffffff24;
  padding: 20px 0 10px 0;
  height: 200px;
}

.simple-calendar {
  align-self: center;
  margin-bottom: 10px;
}

@include media-breakpoint-up(sm) {
  .simple-calendar {
    align-self: auto;
  }
}

@include media-breakpoint-up(lg) {
  .card_weather {
    margin-bottom: 0;
    height: 400px;
  }
  .simple-calendar {
    margin-bottom: 0;
  }
}
